*{
    margin: 0;
    padding: 0;
}
.work{
    display: flex;
    align-items: flex-start;
    background:white;
}
.workWrapper{
    flex: 9;
    padding: 20px;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: rgb(231, 218, 218);
    margin: 30px 10px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px  rgba(201, 196, 196, 0.3);
    transition: 0,1s ease-in-out;
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBx{
    position: relative;
    width:260px;
    height:260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2);
   

}
.container .card .imgBx img{
    max-width: 100%;
    border-radius: 10px;
    
}
.container .card .content{
    margin-top: relative;
    margin-top: -140px;
    padding: 10px 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease-in-out;

}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.workTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;

}
.workDesc{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 18px;
    line-height: 25px;
    padding: 20px;
    
}
.work-text{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.work-desc{
    width: 65%;
}
.work-title{
    font-family: 'Lora', serif;
    color: #444;  
}

